.btns {
  width: 100%;
  margin: auto;
  display: block;
}

.btns button {
  background-color: #77b1a9;
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
  font-size: 0.85em;
  margin: 30px 8px 0 0;
  padding: 8px 18px 6px 18px;
  opacity: 1;
  cursor: pointer;
}
.btns button:hover {
  opacity: 0.9;
}

.twitter .facebook .new-quote {
  float: left;
  padding: 0;
  padding-right: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

.new-quote {
  float: right;
}